.archived-books-notes-container {
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s;
}
.archived-books-notes-container .all-archived-notes-title {
  margin: 1rem 0 0;
  color: #5d0085;
}
.archived-books-notes-container .all-my-archived-notes {
  width: inherit;
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.archived-books-notes-container .all-my-archived-notes .book-archived-note {
  width: calc((100% - 6rem) / 3);
  min-height: 20rem;
  padding: 1rem 1rem 0;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
  border-radius: 0.5rem;
  overflow-wrap: break-word;
  transition: 0.3s;
  position: relative;
}
.archived-books-notes-container
  .all-my-archived-notes
  .book-archived-note
  .image-infos-archived-book-note {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 0;
  column-gap: 0;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
.archived-books-notes-container
  .all-my-archived-notes
  .book-archived-note
  .image-infos-archived-book-note
  .image-archived-book-note
  img {
  width: 5rem;
  height: 7.5rem;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
}
.archived-books-notes-container
  .all-my-archived-notes
  .book-archived-note
  .image-infos-archived-book-note
  .infos-archived-book-note {
  padding: 1rem 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5d0085;
}
.archived-books-notes-container
  .all-my-archived-notes
  .book-archived-note
  .image-infos-archived-book-note
  .infos-archived-book-note
  .note-archived-date {
  margin-bottom: 1rem;
}
.archived-books-notes-container
  .all-my-archived-notes
  .book-archived-note
  .image-infos-archived-book-note
  .infos-archived-book-note
  .note-archived-time {
  margin-bottom: 1rem;
}
.archived-books-notes-container .all-my-archived-notes .book-archived-note .note-text-saved {
  padding-bottom: 1rem;
  color: #1f1f1f;
}
.archived-books-notes-container .all-my-archived-notes .book-archived-note .show-all {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.archived-books-notes-container .all-my-archived-notes .book-archived-note .show-all img {
  width: 1.5rem;
}
.archived-books-notes-container .all-my-archived-notes .no-archived-note-found {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: #5d0085;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0;
  column-gap: 0;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

.archived-books-notes-container.dark-mode {
  background-color: #1f1f1f;
}
.archived-books-notes-container.dark-mode .all-archived-notes-title {
  color: #c20aff;
}
.archived-books-notes-container.dark-mode
  .all-my-archived-notes
  .book-archived-note
  .image-infos-archived-book-note
  .infos-archived-book-note {
  color: #c20aff;
}
.archived-books-notes-container.dark-mode
  .all-my-archived-notes
  .book-archived-note
  .note-text-saved {
  color: #ffffff;
}
.archived-books-notes-container.dark-mode .all-my-archived-notes .no-archived-note-found {
  color: #c20aff;
}

@media (hover: hover) {
  .archived-books-notes-container .all-archived-notes-title img:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .archived-books-notes-container .all-my-archived-notes .book-archived-note:hover {
    scale: 1.1;
  }
  .archived-books-notes-container .all-my-archived-notes .book-archived-note .show-all img:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
@media (max-width: 1150px) {
  .archived-books-notes-container .all-my-archived-notes .book-archived-note {
    padding-top: 2rem;
  }
}
@media (max-width: 900px) {
  .archived-books-notes-container .all-my-archived-notes .book-archived-note {
    width: calc((100% - 3rem) / 2);
  }
}
@media (max-width: 700px) {
  .archived-books-notes-container .all-my-archived-notes .book-archived-note {
    width: 100%;
  }
  .archived-books-notes-container .all-my-archived-notes .book-archived-note:hover {
    scale: none;
  }
}
@media (max-width: 375px) {
  .archived-books-notes-container
    .all-my-archived-notes
    .book-archived-note
    .image-infos-archived-book-note {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 0;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .archived-books-notes-container
    .all-my-archived-notes
    .book-archived-note
    .image-infos-archived-book-note
    .image-archived-book-note
    img {
    width: 8rem;
    height: 12rem;
  }
  .archived-books-notes-container
    .all-my-archived-notes
    .book-archived-note
    .image-infos-archived-book-note
    .infos-archived-book-note {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
} /*# sourceMappingURL=archivedBooksNotes.css.map */
