.all-current-reading-notes-book-container {
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s;
}
.all-current-reading-notes-book-container .filtered-current-reading-book-info {
  width: inherit;
  margin: 1rem 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-info
  .filtered-current-reading-book-image {
  width: 8.5rem;
  height: 12.75rem;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-info
  .filtered-current-reading-book-image
  > img {
  width: inherit;
  height: inherit;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-info
  .filtered-current-reading-book-text
  p {
  color: #1f1f1f;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.6;
  transition: 0.3s;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-info
  .filtered-current-reading-book-text
  p
  span {
  color: #5d0085;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
}
.all-current-reading-notes-book-container .Delete-all-current-reading-book-notes {
  margin: 0rem 0 1.5rem;
  color: #5d0085;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.all-current-reading-notes-book-container .Delete-all-current-reading-book-notes img {
  width: 1.6rem;
}
.all-current-reading-notes-book-container .filtered-current-reading-book-notes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note {
  width: calc((100% - 6rem) / 3);
  min-height: 15rem;
  padding: 1rem 1rem;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
  border-radius: 0.5rem;
  overflow-wrap: break-word;
  transition: 0.3s;
  position: relative;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .filtered-current-reading-note-date-and-page {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #5d0085;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .edit-and-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .edit-and-delete
  > img {
  width: 1.5rem;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .textarea-edited-note {
  width: 100%;
  height: 8rem;
  margin-bottom: 0.2rem;
  background-color: #ededed;
  color: #5d0085;
  border: 0.15rem solid #5d0085;
  outline: none;
  resize: none;
  transition: 0.3s;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 0;
  column-gap: 0;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons
  .characters {
  color: #5d0085;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons
  .characters
  span {
  font-weight: 500;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons
  .save-and-cancel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons
  .save-and-cancel
  > button {
  padding: 0.25rem 0.5rem;
  background-color: #5d0085;
  font-weight: 500;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}
.all-current-reading-notes-book-container
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .filtered-current-reading-note-text {
  color: #1f1f1f;
}
.all-current-reading-notes-book-container .no-note-found-book {
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: #5d0085;
  text-align: center;
}

.all-current-reading-notes-book-container.dark-mode {
  background-color: #1f1f1f;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-info
  .filtered-current-reading-book-text
  p {
  color: #ffffff;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-info
  .filtered-current-reading-book-text
  p
  span {
  color: #c20aff;
}
.all-current-reading-notes-book-container.dark-mode .Delete-all-current-reading-book-notes {
  color: #c20aff;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .filtered-current-reading-note-date-and-page
  > p {
  color: #c20aff;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .textarea-edited-note {
  background-color: #151519;
  color: #c20aff;
  border-color: #c20aff;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons
  .characters {
  color: #c20aff;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .characters-and-buttons
  .save-and-cancel
  > button {
  background-color: #c20aff;
  color: #1f1f1f;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-notes
  .filtered-current-reading-note
  .filtered-current-reading-note-text {
  color: #ffffff;
}
.all-current-reading-notes-book-container.dark-mode
  .filtered-current-reading-book-notes
  .no-note-found-book {
  color: #c20aff;
}

@media (hover: hover) {
  .all-current-reading-notes-book-container .Delete-all-current-reading-book-notes img:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note:hover {
    scale: 1.1;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note:hover
    .edit-and-delete
    > img:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note
    .save-and-cancel
    > button:hover {
    cursor: pointer;
  }
}
@media (max-width: 1150px) {
  .all-current-reading-notes-book-container .filtered-current-reading-book-info {
    margin-bottom: 1rem;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-text
    .filtered-current-reading-book-plublished-page {
    display: none;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note {
    padding: 3rem 1rem 1rem;
  }
}
@media (max-width: 900px) {
  .all-current-reading-notes-book-container .filtered-current-reading-book-info {
    margin-bottom: 1rem;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-text
    .filtered-current-reading-book-plublished-date {
    display: none;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note {
    width: calc((100% - 3rem) / 2);
  }
}
@media (max-width: 700px) {
  .all-current-reading-notes-book-container .filtered-current-reading-book-info {
    margin-bottom: 1rem;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-text
    .filtered-current-reading-book-plublisher {
    display: none;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note {
    width: 100%;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-notes
    .filtered-current-reading-note:hover {
    scale: none;
  }
}
@media (max-width: 500px) {
  .all-current-reading-notes-book-container .filtered-current-reading-book-info {
    margin-bottom: 1rem;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-text
    .filtered-current-reading-book-authors {
    display: none;
  }
}
@media (max-width: 375px) {
  .all-current-reading-notes-book-container .filtered-current-reading-book-info {
    margin-bottom: 1rem;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-image
    > img {
    width: 8rem;
    height: 12rem;
  }
  .all-current-reading-notes-book-container
    .filtered-current-reading-book-info
    .filtered-current-reading-book-text
    .filtered-current-reading-book-title {
    display: none;
  }
} /*# sourceMappingURL=allCurrentReadingBooksNotesStyles.css.map */
