//light mode
$White: #ffffff;
$Very-dark-blue: #5d0085;
$Very-light-gray: #ededed;
$Gray: #707070;
$Blue: #0c93ed;

//dark-mode
$Black: #1f1f1f;
$Dark-gray: #151519;
$Turquoise: #c20aff;
$Gray: #707070;
$Blue: #0c93ed;

// Text colors
$text-light: #333333;
$text-muted: #666666;
$text-dark: #ffffff;
