.searched-container {
  padding: 0rem 2rem 2.85rem;
  min-height: calc(100vh - 4.5rem);
  background-color: #ffffff;
  transition: 0.3s;
}

.searched-container .back-and-add-to {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

.searched-container .back-and-add-to .add-to {
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

.searched-container .back-and-add-to .add-to div {
  position: relative;
}

.searched-container .back-and-add-to .add-to div img {
  width: 2rem;
  transition: 0.5s;
}

.searched-container .back-and-add-to .add-to div p {
  width: 9.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #5d0085;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 3rem;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.3s;
}

.searched-container .back-and-add-to .add-to div p:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5rem solid;
  border-color: transparent transparent #5d0085 transparent;
  left: 50%;
  top: -1rem;
  transform: translateX(-50%);
}

.searched-container .back-and-add-to .add-to div:last-child img {
  width: 2.5rem;
}

.searched-container .back-and-add-to .add-to div:last-child p {
  top: 3.3rem;
}

.searched-container .searched-book {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

.searched-container .searched-book .searched-book-image > img {
  width: 18rem;
  height: 27rem;
  margin-bottom: 0.5rem;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
}

.searched-container .searched-book .searched-book-text h2,
.searched-container .searched-book .searched-book-text p {
  color: #1f1f1f;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.searched-container .searched-book .searched-book-text h2 span,
.searched-container .searched-book .searched-book-text p span {
  color: #5d0085;
  font-size: 1.1rem;
  font-weight: 500;
}

.searched-container.dark-mode {
  background-color: #1f1f1f;
}

.searched-container.dark-mode .back-and-add-to .add-to p {
  color: #1f1f1f;
  background-color: #c20aff;
}

.searched-container.dark-mode .back-and-add-to .add-to p:before {
  border-color: transparent transparent #c20aff transparent;
}

.searched-container.dark-mode .searched-book .searched-book-text h2,
.searched-container.dark-mode .searched-book .searched-book-text p {
  color: #ffffff;
}

.searched-container.dark-mode .searched-book .searched-book-text h2 span,
.searched-container.dark-mode .searched-book .searched-book-text p span {
  color: #c20aff;
}

.searched-container .searched-book-text .search {
  width: 6rem;
  padding: 0.75rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: #5d0085;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem; /* Adjust the margin as needed */
}

.searched-container.dark-mode .searched-book-text .search {
  background-color: #c20aff !important;
  color: #1f1f1f !important;
}

.rating-text {
  margin-right: 10px;
  color: #5d0085; /* Default text color for light mode */
  font-size: 1.1rem;
  font-weight: 500; /* Font size */
}

.searched-container.dark-mode .rating-text {
  color: #c20aff; /* Text color for dark mode */
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating-stars {
  font-size: 24px;
}

.star {
  cursor: pointer;
}

@media (hover: hover) {
  .searched-container .back-and-add-to .add-to div img:hover {
    cursor: pointer;
    scale: 1.2;
  }
  .searched-container .back-and-add-to .add-to div img:hover + p {
    opacity: 1;
  }
}

@media (max-width: 1150px) {
  .searched-container .searched-book .searched-book-image > img {
    width: 16rem;
    height: 24rem;
  }
}

@media (max-width: 900px) {
  .searched-container .searched-book .searched-book-image > img {
    width: 14rem;
    height: 21rem;
  }
}

@media (max-width: 800px) {
  .searched-container .searched-book .searched-book-image > img {
    width: 12rem;
    height: 18rem;
  }
}

@media (max-width: 700px) {
  .searched-container .searched-book .searched-book-image > img {
    width: 10rem;
    height: 15rem;
  }
}

@media (max-width: 600px) {
  .searched-container .searched-book .searched-book-image {
    display: none;
  }
}

@media (max-width: 500px) {
  .searched-container .back-and-add-to {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .searched-container .back-and-add-to .add-to {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
