.all-archived-notes-book-container {
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s;
}
.all-archived-notes-book-container .filtered-archived-book-info {
  width: inherit;
  margin: 1rem 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.all-archived-notes-book-container .filtered-archived-book-info .filtered-archived-book-image {
  width: 8.5rem;
  height: 12.75rem;
}
.all-archived-notes-book-container
  .filtered-archived-book-info
  .filtered-archived-book-image
  > img {
  width: inherit;
  height: inherit;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
}
.all-archived-notes-book-container .filtered-archived-book-info .filtered-archived-book-text p {
  color: #1f1f1f;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.6;
  transition: 0.3s;
}
.all-archived-notes-book-container
  .filtered-archived-book-info
  .filtered-archived-book-text
  p
  span {
  color: #5d0085;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
}
.all-archived-notes-book-container .all-archived-book-notes {
  margin: 0rem 0 1.5rem;
  color: #5d0085;
}
.all-archived-notes-book-container .filtered-archived-book-notes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-archived-notes-book-container .filtered-archived-book-notes .filtered-archived-note {
  width: calc((100% - 6rem) / 3);
  min-height: 15rem;
  padding: 1rem 1rem 0;
  box-shadow:
    0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
    -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
  border-radius: 0.5rem;
  overflow-wrap: break-word;
  transition: 0.3s;
  position: relative;
}
.all-archived-notes-book-container
  .filtered-archived-book-notes
  .filtered-archived-note
  .filtered-archived-note-date-and-page {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #5d0085;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-archived-notes-book-container
  .filtered-archived-book-notes
  .filtered-archived-note
  .filtered-archived-note-text {
  color: #1f1f1f;
}
.all-archived-notes-book-container .no-note-found-book {
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: #5d0085;
  text-align: center;
}

.all-archived-notes-book-container.dark-mode {
  background-color: #1f1f1f;
}
.all-archived-notes-book-container.dark-mode
  .filtered-archived-book-info
  .filtered-archived-book-text
  p {
  color: #ffffff;
}
.all-archived-notes-book-container.dark-mode
  .filtered-archived-book-info
  .filtered-archived-book-text
  p
  span {
  color: #c20aff;
}
.all-archived-notes-book-container.dark-mode .all-archived-book-notes {
  color: #c20aff;
}
.all-archived-notes-book-container.dark-mode
  .filtered-archived-book-notes
  .filtered-archived-note
  .filtered-archived-note-date-and-page
  > p {
  color: #c20aff;
}
.all-archived-notes-book-container.dark-mode
  .filtered-archived-book-notes
  .filtered-archived-note
  .filtered-archived-note-text {
  color: #ffffff;
}
.all-archived-notes-book-container.dark-mode .filtered-archived-book-notes .no-note-found-book {
  color: #c20aff;
}

@media (hover: hover) {
  .all-archived-notes-book-container .filtered-archived-book-notes .filtered-archived-note:hover {
    scale: 1.1;
  }
}
@media (max-width: 1150px) {
  .all-archived-notes-book-container .filtered-archived-book-info {
    margin-bottom: 1rem;
  }
  .all-archived-notes-book-container
    .filtered-archived-book-info
    .filtered-archived-book-text
    .filtered-archived-book-plublished-page {
    display: none;
  }
  .all-archived-notes-book-container .filtered-archived-book-notes .filtered-archived-note {
    padding: 1rem 1rem;
  }
}
@media (max-width: 900px) {
  .all-archived-notes-book-container .filtered-archived-book-info {
    margin-bottom: 1rem;
  }
  .all-archived-notes-book-container
    .filtered-archived-book-info
    .filtered-archived-book-text
    .filtered-archived-book-plublished-date {
    display: none;
  }
  .all-archived-notes-book-container .filtered-archived-book-notes .filtered-archived-note {
    width: calc((100% - 3rem) / 2);
  }
}
@media (max-width: 700px) {
  .all-archived-notes-book-container
    .filtered-archived-book-info
    .filtered-archived-book-text
    .filtered-archived-book-plublisher {
    display: none;
  }
  .all-archived-notes-book-container .filtered-archived-book-notes .filtered-archived-note {
    width: 100%;
  }
  .all-archived-notes-book-container .filtered-archived-book-notes .filtered-archived-note:hover {
    scale: none;
  }
}
@media (max-width: 500px) {
  .all-archived-notes-book-container .filtered-archived-book-info {
    margin-bottom: 1rem;
  }
  .all-archived-notes-book-container
    .filtered-archived-book-info
    .filtered-archived-book-text
    .filtered-archived-book-authors {
    display: none;
  }
}
@media (max-width: 375px) {
  .all-archived-notes-book-container .filtered-archived-book-info {
    margin-bottom: 1rem;
  }
  .all-archived-notes-book-container .filtered-archived-book-info .filtered-archived-book-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .all-archived-notes-book-container
    .filtered-archived-book-info
    .filtered-archived-book-image
    > img {
    width: 8rem;
    height: 12rem;
  }
  .all-archived-notes-book-container
    .filtered-archived-book-info
    .filtered-archived-book-text
    .filtered-archived-book-title {
    display: none;
  }
} /*# sourceMappingURL=allArchivedBooksNotes.css.map */
